@import 'TicketStyle';
@import 'components/forms/Forms.scss';
@import 'components/layout/footer-forms/FooterForms';
@import 'components/layout/footer-home/FooterHome';
@import 'components/layout/header/HeaderPage.scss';
@import "pages/ticket-single/TicketSingle";
.titre-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

