.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ticket-card {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .ticket-details {
    .ticket-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .ticket-property {
        font-weight: bold;
        width: 100px;
      }

      .ticket-value {
        flex-grow: 1;
      }
      .overflow-description {
        flex-grow: 1;
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
